*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Poppins;
    list-style: none;
}
body{
    background-color: #0E0E0F;
    overflow-x:hidden;
}
/* bagian nav section =============================*/
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    height: 60px;
    color: white;
    align-items: center;
    border-bottom: 2px solid white;

}
nav ul{
    display: flex;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 35%;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
nav .logo{
    font-size: 20px;
}
nav .contact-btn{
    background-color: #D72323;
    border-radius: 5px;
    border: none;
    padding: 8px;
}
nav .home-btn{
    color: #D72323;
}
/* hamburger menu */
.menu-toggle{
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    display: none;

}
.menu-toggle input{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    cursor: pointer;
}
.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    z-index: 2;


}
/* humberger menu animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;

}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}
.menu-toggle input:checked~span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
    
}
.menu-toggle input:checked~span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0px);
}
.menu-toggle input:checked~span:nth-child(3){
    opacity: 0;
}
/* nav bagian hover */
nav a:hover{
    color: #D72323;
}
nav .contact-btn:hover{
    background-color: white;
}
 /* about======================== */

.about{
    position: relative;
    height: 90vh;
}
.about img{
    position: absolute;
    transform: translateX(40%)
                translateY(10%);
}
.about .content{
    color: white;
    position: absolute;
    width: 600px;
    right: 0;
    transform: translateX(-20%)
                translateY(20%);
}
.about h1{
    margin: 20px;
    text-align: left;
}
/* bagian apartice=================================== */
.apartice{
    height: 300px;
    padding-top: 20px;
}
.apartice h1{
    color: white;
    font-size: 36px;
    text-align: center;
}
.apartice .container-apartice{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 140px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.apartice .kotak{
    width:18% ;
    background-color: #202020;
    padding: 10px 0;
    border-radius: 5px;
    border: 2px solid white;
    box-sizing: border-box;
    align-items: center;
    height:120px;
    
}
/* resume section============================ */


/* contact section=========================================== */
.contact h1,.contact p{
    color: white;
    text-align: center;
}
.container-contact{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.container-contact .form{
    margin: 100px 0;
}
.form input{
    display: block;
    margin-bottom: 20px;
    width: 240px;
    border-radius: 5px;
    border: none;
    height: 40px;
    padding-left: 10px;
}
.form textarea{
    display: block;
    width: 240px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}
.form button{
    width: 248px;
    border-radius: 5px;
    border: none;
    height: 40px;
    margin-top: 20px;
    background-color: #D72323;
    color: white;
    cursor: pointer;
}
.container-contact .content{
    color: white;
    width: 360px;
    height: 280px;
    text-align: left;
    margin-top: 100px;
    background-color: #313131;
    padding: 40px;
    border-radius: 5px;
    border: 5px solid white;
}
.container-contact p{
    text-align: left;
    margin-top: 10px;
}
/* bagian contact hover */
.form button:hover{
    background-color: white;
    color: #D72323;
}
/* footer section */
footer{
    background-color: #313131;;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 0 0 10px 0;
}
footer .header{
    border-bottom: 2px solid white;
}
footer button{
    width: 120px;
    height: 40px;
    margin: 10px 0;
    background-color: #D72323;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    border-radius: 5px;
}
footer p:last-child{
    font-size: 9px;
}
footer p{
    font-size: 12px;
}

/* rensponsive breakpoin */
/* ukuran tablet */
@media screen and (max-width: 768px){
    nav ul{
        width: 60%;
    }
    .logo{
        padding: 0;
    }
    .about{
        margin: 10px 20px;
        height: 300px;
    }
    .about img{
        display: none;
    }
    .about .content{
        left: 0;
        transform: translate(00%);
        width: 80vh;
        position: relative;
        margin: 0 20px;
        font-size: 12px;
    }
    .area h1{
        font-size: 20px;
    }
    .expertice{
        height: 80px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .expertice .item{
       width: 60px;
       height: 60px;
        font-size: 9px;
    }
    .expertice img{
        width: 40%;
        height: 40%;
    }
    .h1resume{
        font-size: 20px;
    }
    .wrap{
        display: flex;
        flex-direction: column;
        font-size: 9px;
    }
    .wrap h3{
        font-size: 12px;
    }
    .contactme h1{
        font-size: 12px;
        margin: 0;
        text-align: center;
    }
    .contactme .form{
        display: flex;
        flex-direction: column;
    }
    .pc{
        display: none;
    }
    .kanan{
        position: relative;
        margin: 0;
    }
    .submit{
        position: absolute;
        bottom: 0;
        transform: translateY(10%);
        width: 120px;
    }
}
/* ukuran mobile */
@media screen and (max-width: 576px){
    nav ul{
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color: #1f201f;
        width: 80%;
        height: 100%;
        align-items: center;
        top: 0;
        z-index: 1;
        transform: translateX(100%);
        transition: all 1s;
        justify-content: space-around; 
    }
    nav ul.slide{
        transform: translateX(0);
    }
    .menu-toggle{
        display: flex;
    }
    .about{
        margin: 10px 20px;
        height: 300px;
        margin: 0;
    }
    .about .content{
        width: 70vh;
    }
}