*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Poppins;
    list-style: none;
}
body{
    background-color: #0E0E0F;
    overflow-x:hidden;
}
/* bagian nav section =============================*/
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    height: 60px;
    color: white;
    align-items: center;
    border-bottom: 2px solid white;

}
nav ul{
    display: flex;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 35%;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
nav .logo{
    font-size: 20px;
}
nav .contact-btn{
    background-color: #D72323;
    border-radius: 5px;
    border: none;
    padding: 8px;
}
nav .home-btn{
    color: #D72323;
}
nav .active{
    color: #D72323;
}
/* hamburger menu */
.menu-toggle{
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    display: none;

}
.menu-toggle input{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    cursor: pointer;
}
.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    z-index: 2;


}
/* humberger menu animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;

}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}
.menu-toggle input:checked~span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
    
}
.menu-toggle input:checked~span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0px);
}
.menu-toggle input:checked~span:nth-child(3){
    opacity: 0;
}
/* nav bagian hover */
nav a:hover{
    color: #D72323;
}
nav .contact-btn:hover{
    background-color: white;
}
/* contact section=========================================== */
.contact h1,.contact p{
    color: white;
    text-align: center;
}
.container-contact{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.container-contact .form{
    margin: 100px 0;
}
.form input{
    display: block;
    margin-bottom: 20px;
    width: 240px;
    border-radius: 5px;
    border: none;
    height: 40px;
    padding-left: 10px;
}
.form textarea{
    display: block;
    width: 240px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}
.form button{
    width: 248px;
    border-radius: 5px;
    border: none;
    height: 40px;
    margin-top: 20px;
    background-color: #D72323;
    color: white;
    cursor: pointer;
}
.container-contact .content{
    color: white;
    width: 360px;
    height: 280px;
    text-align: left;
    margin-top: 100px;
    background-color: #313131;
    padding: 40px;
    border-radius: 5px;
    border: 5px solid white;
}
.container-contact p{
    text-align: left;
    margin-top: 10px;
}
/* bagian contact hover */
.form button:hover{
    background-color: white;
    color: #D72323;
}
/* footer section======================= */
footer{
    background-color: #313131;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 0 0 10px 0;
}
footer .header{
    border-bottom: 2px solid white;
}
footer p:last-child{
    font-size: 9px;
}
footer p{
    font-size: 12px;
}
/* responsive break point======================= */
/* tablet =========================== */

@media screen and (max-width: 768px){
    *{
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-family: Poppins;
        list-style: none;
    }

    /* nav section ========================= */
    nav ul{
        width: 60%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px){
    nav{
        margin:0 1%;
    }
    nav ul{
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color: #1f201f;
        width: 80%;
        height: 100%;
        align-items: center;
        top: 0;
        z-index: 1;
        transition: all 1s;
        justify-content: space-around;
        opacity: 0;
    }
    nav ul.slide{
        opacity: 1;
    }
    .menu-toggle{
        display: flex;
    }
    /* contact===================== */
    .contact h1{
        margin: 10px 0;
        padding: 0;
    }
    .container-contact{
        margin-top: 0;
        padding: 0;
        
    }
    .container-contact .content{
        margin-top: 0;
    }
    .container-contact .form{
        margin-top: 20px;
    }
}