*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Poppins;
    list-style: none;
}
body{
    background-color: #0E0E0F;
    overflow-x:hidden;
}
/* bagian nav section =============================*/
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    height: 60px;
    color: white;
    align-items: center;
    border-bottom: 2px solid white;

}
nav ul{
    display: flex;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 35%;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
nav .logo{
    font-size: 20px;
}
nav .contact-btn{
    background-color: #D72323;
    border-radius: 5px;
    border: none;
    padding: 8px;
}
nav .home-btn{
    color: #D72323;
}
nav .active{
    color: #D72323;
}
/* hamburger menu */
.menu-toggle{
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    display: none;

}
.menu-toggle input{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    cursor: pointer;
}
.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    z-index: 2;


}
/* humberger menu animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;

}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}
.menu-toggle input:checked~span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
    
}
.menu-toggle input:checked~span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0px);
}
.menu-toggle input:checked~span:nth-child(3){
    opacity: 0;
}
/* nav bagian hover */
nav a:hover{
    color: #D72323;
}
nav .contact-btn:hover{
    background-color: white;
}
/* section works================================= */
.works{
    margin-top: 180px;
}
.works h1{
    font-size: 60px;
    color: white;
    margin-left: 80px;
}
.container-works{
    display: grid;
    grid-template-areas: "satu satu satu dua"
                        "tiga empat empat empat";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 60% 40%;
    width: 80%;
    height: 800px;
    margin: 50px auto;
    gap: 20px;
    
}
.kotak-satu{
    grid-area: satu;
    display: flex;
    background-color: #0CECDD;
    background-size: cover;
    border-radius: 10px 0 0 0;
    color: white;
    padding: 50px;
    font-size: 44px;
    font-weight: bold;
    overflow: hidden;
}
.kotak-dua{
    grid-area: dua;
    background-color: #C400FF;
    border-radius:0 10px 0 0px;
    font-size: 26px;
    font-weight: bold;
    color: white;
    overflow: hidden;
    padding: 20px;
}
.kotak-dua img{
    transform: rotate(45deg);
}
.kotak-tiga{
    grid-area: tiga;
    background-color: #FFF338;
    border-radius:0 0 0px 10px;
    color: white;
    font-size: 26px;
    font-weight: bold;
    color: white;
    overflow: hidden;
    padding: 20px;
}
.kotak-empat{
    grid-area: empat;
    background-color: #FF67E7;
    border-radius:0 0 10px 0;
    display: flex;
    font-size: 44px;
    font-weight: bold;
    color: white;
    overflow: hidden;
    padding: 20px;
}
.kotak-empat img{
    width:336px;
    height: 669px;
    object-fit: cover;
    border-radius: 10px;
}
/* study case section=================== */
.studycase{
    width: 60%;
    background-color: #313131;
    color: white;
    margin: 0 auto;
    padding: 40px;
}
.studycase ul li{
    list-style:circle;
}
.studycase p{
    margin-bottom: 40px;
}
.studycase ul{
    margin-bottom: 50px;
}
.content{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.dua img{
    height: 335px ;
    width: 180px;
    border-radius: 10px;
}
.tiga{
    display: block;

}
.empat img, .journey{
    border-radius: 10px;
}
.studycase .final{
    width: 100%;
}



/* footer section */
footer{
    background-color: #313131;;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 0 0 10px 0;
}
footer .header{
    border-bottom: 2px solid white;
}
footer button{
    width: 120px;
    height: 40px;
    margin: 10px 0;
    background-color: #D72323;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    border-radius: 5px;
}
footer p:last-child{
    font-size: 9px;
}
footer p{
    font-size: 12px;
}




/* responsive break point======================= */
/* tablet =========================== */

@media screen and (max-width: 768px){
    *{
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-family: Poppins;
        list-style: none;
    }

    /* nav section ========================= */
    nav ul{
        width: 60%;
    }
    /* bagian study case ============================*/
    .journey{
        width: 90%;
        margin: auto;
    }
}

/* smartphone =================================== */

@media screen and (max-width: 576px){


    *{
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-family: Poppins;
        list-style: none;
    }
    /* nav section==================== */
    nav ul{
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color: #1f201f;
        width: 80%;
        height: 100%;
        align-items: center;
        top: 0;
        z-index: 1;
        opacity: 0;
        transition: all 1s;
        justify-content: space-around; 
    }
    nav ul.slide{
        opacity: 1;
    }
    .menu-toggle{
        display: flex;
    }
    /* section works=================================== */
    
    .works{
        margin-top: 40px;
        height: 700px;
    }
    .works h1{
        font-size: 26px;
        margin: 5px;
        margin-left: 40px;
    }
    .container-works{
        margin-top: 30px;
        width: 300px;
        height: 500px;
        grid-template-areas: 'satu satu dua dua'
                            'tiga tiga empat empat';
        gap: 8px;
        
    }
    .container-works p{
        font-size: 20px;
        font-weight: bold;
    }
    /* bagian study case======================================== */
    .studycase{
        padding: 10px;
    }
    .journey{
        width: 100%;
    }
    .content{
        display: block;
    }
    .studycase ul{
        margin-left: 20px;
    }

}
