*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Poppins;
    list-style: none;
}
body{
    background-color: #0E0E0F;
    overflow-x:hidden;
}
/* bagian nav section =============================*/
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    height: 60px;
    color: white;
    align-items: center;
    border-bottom: 2px solid white;

}
nav ul{
    display: flex;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 35%;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
nav .logo{
    font-size: 20px;
}
nav .contact-btn{
    background-color: #D72323;
    border-radius: 5px;
    border: none;
    padding: 8px;
}
nav .home-btn{
    color: #D72323;
}
nav .active{
    color: #D72323;
}
/* hamburger menu */
.menu-toggle{
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    display: none;

}
.menu-toggle input{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    cursor: pointer;
}
.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    z-index: 2;


}
/* humberger menu animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;

}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}
.menu-toggle input:checked~span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
    
}
.menu-toggle input:checked~span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0px);
}
.menu-toggle input:checked~span:nth-child(3){
    opacity: 0;
}
/* nav bagian hover */
nav a:hover{
    color: #D72323;
}
nav .contact-btn:hover{
    background-color: white;
}
/* section works================================= */
.works{
    margin-top: 180px;
    height: 1600px;
}
.works h1{
    font-size: 60px;
    color: white;
    margin-left: 80px;
    padding-bottom: ;
}
.container-works{
    display: grid;
    grid-template-areas: "satu satu satu dua"
                        "tiga empat empat empat";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 60% 40%;
    width: 80%;
    height: 800px;
    margin: 50px auto;
    gap: 20px;
    
}
.kotak-satu{
    grid-area: satu;
    background-image: url(image/Group\ 84.png);
    background-size: cover;
    border-radius: 10px 0 0 0;
}
.kotak-dua{
    grid-area: dua;
    background-image: url(image/Group\ 81.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius:0 10px 0 0px;
}
.kotak-tiga{
    grid-area: tiga;
    background-image: url(image/Group\ 85.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius:0 0 0px 10px;
}
.kotak-empat{
    grid-area: empat;
    background-image: url(image/Group\ 86.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:0 0 10px 0;
}
/* footer section */
footer{
    background-color: #313131;;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 0 0 10px 0;
}
footer .header{
    border-bottom: 2px solid white;
}
footer button{
    width: 120px;
    height: 40px;
    margin: 10px 0;
    background-color: #D72323;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    border-radius: 5px;
}
footer p:last-child{
    font-size: 9px;
}
footer p{
    font-size: 12px;
}




/* responsive break point======================= */



@media screen and (max-width: 576px){


    *{
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-family: Poppins;
        list-style: none;
    }
    /* nav section==================== */
    nav ul{
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color: #1f201f;
        width: 80%;
        height: 100%;
        align-items: center;
        top: 0;
        z-index: 1;
        opacity: 0;
        transition: all 1s;
        justify-content: space-around; 
    }
    nav ul.slide{
        opacity: 1;
    }
    .menu-toggle{
        display: flex;
    }
    /* section works=================================== */
    
    .works{
        margin-top: 40px;
        height: 700px;
    }
    .works h1{
        font-size: 26px;
        margin: 5px;
        margin-left: 40px;
    }
    .container-works{
        margin-top: 30px;
        width: 300px;
        height: 500px;
        grid-template-areas: 'satu satu dua dua'
                            'tiga tiga empat empat';
        gap: 8px;
    }
    .kotak-empat{
        grid-area: empat;
        background-image: url(image/Group\ 86.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -250px;
        border-radius:0 0 10px 0;
    }
    .kotak-satu{
        grid-area: satu;
        background-image: url(image/Group\ 84.png);
        background-size: cover;
        border-radius: 10px 0 0 0;
        background-position: -260px;
    }

}
