*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Poppins;
    list-style: none;
}
body{
    background-color: #0E0E0F;
    overflow-x:hidden;
}
/* bagian nav section =============================*/
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    height: 60px;
    color: white;
    align-items: center;
    border-bottom: 2px solid white;

}
nav ul{
    display: flex;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 35%;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
nav .logo{
    font-size: 20px;
}
nav .contact-btn{
    background-color: #D72323;
    border-radius: 5px;
    border: none;
    padding: 8px;
}
nav .home-btn{
    color: #D72323;
}

/* hamburger menu */
.menu-toggle{
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    display: none;

}
.menu-toggle input{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    cursor: pointer;
}
.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    z-index: 2;


}
/* humberger menu animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;

}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}
.menu-toggle input:checked~span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
    
}
.menu-toggle input:checked~span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0px);
}
.menu-toggle input:checked~span:nth-child(3){
    opacity: 0;
}
/* nav bagian hover */
nav a:hover{
    color: #D72323;
}
nav .contact-btn:hover{
    background-color: white;
}
/* end nav section */
/* study case section */
.container-studycase{
    margin-top: 5em;
    color: white;
    width: 80%;
    margin: auto;
}
.content-studycase{
    margin-top: 3em;
}
.container-studycase p{
    margin-bottom: 1em;
    font-size: 2em;
    color: #cacaca;
}
.container-img{
    width: 100%;
    display: flex;
    justify-content:space-around;
    overflow: hidden;
    flex-wrap: wrap;
}
.container-img img{
    width: 40%;
    margin: 1em;
    object-fit: contain;
}
/* footer section */
footer{
    background-color: #313131;;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 0 0 10px 0;
}
footer .header{
    border-bottom: 2px solid white;
}
footer button{
    width: 120px;
    height: 40px;
    margin: 10px 0;
    background-color: #D72323;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    border-radius: 5px;
}
footer p:last-child{
    font-size: 9px;
}
footer p{
    font-size: 12px;
}
/* responsive breakpoint */
@media screen and (max-width: 768px){
    *{
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-family: Poppins;
        list-style: none;
    }

    /* nav section ========================= */
    nav ul{
        width: 60%;
    }
    .container-studycase p{
        margin-bottom: 1em;
        font-size: 1em;
        color: #cacaca;
    }
}
@media screen and (max-width: 576px){


    *{
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-family: Poppins;
        list-style: none;
    }
    /* nav section==================== */
    nav{
        margin:0 1%;
    }
    nav ul{
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color: #1f201f;
        width: 80%;
        height: 100%;
        align-items: center;
        top: 0;
        z-index: 1;
        opacity: 0;
        transition: all 1s;
        justify-content: space-around; 
    }
    nav ul.slide{
        opacity: 1;
    }
    .menu-toggle{
        display: flex;
    }
    .container-studycase p{
        margin-bottom: 1em;
        font-size: 1em;
        color: #cacaca;
    }
}
